@font-face {
    font-family: Georgia-R;
    src: url(fonts/Georgia.ttf);
}

@font-face {
    font-family: Georgia-L;
    src: url(fonts/Georgia-L.ttf);
}

@font-face {
    font-family: CodePro-R;
    src: url(fonts/CodePro-R.ttf);
}

@font-face {
    font-family: CodePro-L;
    src: url(fonts/CodePro-L.ttf);
}

@font-face {
    font-family: Helvetica-UL;
    src: url(fonts/Helvetica-UltraLight.otf);
}

body {
	background-image: url('img/squares-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center; 
	background-color: #FCFCFC;
	font-family: Verdana, sans-serif; 
	font-size:0.8vw;
	margin:0;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.8vw;
    height: 20px;
    text-align: right;
	padding-bottom:0px;
	padding-right: 2vw;
}

header {
	font-family: 'Georgia-L', serif;
	width: 100%;
}

heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.16vw;
	line-height: 1vw;
	margin-left: 1vw;
	padding-bottom: 2vw;
}

nav ul li.navleft {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	color: white;
	line-height: 0.7vw;
	text-align: left;
	margin-top: 0vw;
	margin-left: 0vw;
	list-style-type: none;
}

nav li + li:before{
	font-family: 'Helvetica-UL', sans-serif;
    content: ' | ';
   	font-size:2.1vw;
    padding: 0 10px;
    color: white;
}

nav {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 300;
	background-color:rgba(0,0,0,0.7);
	padding-top:1.2vw;
	padding-bottom:1.2vw;
	text-decoration: none;
}

nav ul menu {
	margin:0; 
	padding:0;
	font-size: 0.9vw;
	text-decoration: none;
	text-align: right;
	vertical-align: center;
	padding-right: 10vw;
}

nav ul menu li {
	display:inline; 
	margin-left:0.8vw;
	margin-right:0.2vw;
	vertical-align: center;
	text-decoration: none;
}

nav ul li a:hover { 
  color: #FFF68F;
}

a:hover, a:visited, a:link {
    text-decoration: none;
    color: white;
}


nav ul li a {
	display:inline; 
	margin-left:0.8vw;
	margin-right:0.2vw;
	text-decoration: none;
	text-align: center;
}

nav ul li ul { 
	display: none; 
}

nav ul li:hover ul{ 
	display: inline;
}

nav ul li:active ul{ 
	display: inline;
}

nav ul li ul li a{
    display: inline;
    float: center;
    padding: 10px 10px;
    color: white;
    background: rgba(0,0,0,0.7);
    text-decoration: none;
}

body.about a.about:link,
body.alex a.alex:link,
body.mary a.mary:link,
body.jamie a.jamie:link,
body.download a.download:link {
	color: #FFF68F; 
}

h2.sans {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 5vw;
}

h2.sans-light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 3.5vw;
}

h3.sans {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2vw;
}

h3.sans-light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5vw;
	line-height: 1.5vw;
}

h2.serif {
	font-family: 'Georgia-R', serif;
	font-size: 5vw;
}

h2.serif-light {
	font-family: 'Georgia-L', serif;
	font-size: 5vw;
}

h3.serif {
	font-family: 'Georgia-R', serif;
	font-size: 2vw;
}

h3.serif-light {
	font-family: 'Georgia-L', serif;
	font-size: 2vw;
}

section {
	padding-top:1vw;
}

section.header {
	margin-top: 6vw;
}

section.body {
	background-color:rgba(255,255,255,0.9);
	font-size: 1.2vw;
	line-height: 1.5vw;
	color: #474747;
	padding-top: 2vw;
	padding-bottom: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-top: 5vw;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 3vw;
}

article.header {
	color:  #171717;
	text-align: center;
	line-height: 0.5vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

article.body {
	font-family: 'PT Serif', serif;
	padding-top: 2vw;
}

figure.flowchart {
	float: right;
	width: 15%;
	text-align: left;
}

figure.bargraph {
	text-align: left;
	width: 40%;
}

figure.image {
	width: 60%;
}

figcaption.image,
caption.table {
	font-family: Arial, sans-serif;
	font-size: 0.8vw;
	text-align: left;
	padding-bottom: 0.5vw;
	padding-top: 0.5vw;
	background-color:rgba(255,255,255,0);
}

img.bargraph {
	width: 90%;
	height: 90%
}

/* soz - table shit goes here */
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; border: 1px solid #8C8C8C;} .datagrid {font: normal 12px/150% Arial, sans-serif; background-color:#FFFFFF); overflow: hidden;  width: 50%; float: right;}.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #333333) );background:-moz-linear-gradient( center top, #333333 5%, #333333 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#333333');background-color:#333333; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { background: #FFFFFF; color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

#figures {
  text-align: center;
}

figure {
  display: inline-block;
  width: 60%;
}

.detailImage {
  width: 250px;
}

#results {
  text-align: left;
  
}

.graphImage {
  width: 80%;
}

