@font-face {
    font-family: Georgia;
    src: url(Georgia.ttf);
}

@font-face {
    font-family: CodePro-R;
    src: url(CodePro-R.ttf);
}

@font-face {
    font-family: CodePro-L;
    src: url(CodePro-L.ttf);
}

@font-face {
    font-family: Helvetica-UL;
    src: url(Helvetica-UltraLight.otf);
}

body {
	/*background-image: url('box-bg.png');*/
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center; 
	background-color: #FCFCFC;
	font-family: Verdana, sans-serif; 
	font-size:0.8em;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 10px;
    height: 20px;
    width: 100%;
    text-align: right;
	margin:5px; 
	padding-bottom:0px;
	padding-right: 0em;
}

header {
	font-family: 'Georgia', serif;
	width: 100%;
}

heading {
	font-family: 'CodePro-L', sans-serif;
	font-size: 2.5em;
}

nav li + li:before{
	font-family: 'Helvetica-UL', sans-serif;
    content: ' | ';
   	font-size:2em;
    padding: 0 10px;
    color: white;
    
}

nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color:rgba(0,0,0,0.7);
	padding:1.2em;
	text-decoration: none;
	width: 100%;
}

nav li ul { 
  display: none; 
}

nav ul menu {
	margin:0; 
	padding:0;
	text-decoration: none;
	text-align: right;
	vertical-align: middle;
	padding-right: 10em;
}

nav ul menu li {
	display:inline; 
	margin-left:0.8em;
	margin-right:0.2em;
	text-decoration: none;
}

nav ul li a {
	display:inline; 
	margin-left:0.8em;
	margin-right:0.2em;
	text-decoration: none;
	text-align: center;
}
 
nav ul li a:hover { 
  color: #FFF68F; 
}
 
nav li:hover ul {
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
}
 
nav li:hover a { 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}

nav ul menu li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}

a:hover, a:visited, a:link {
    text-decoration: none;
    color: white;
}

body.about a.about:link,
body.alex a.alex:link,
body.mary a.mary:link,
body.jamie a.jamie:link,
body.demo a.demo:link,
body.download a.download:link {
	color: #FFF68F; 
}

h2.sans {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 5em;
}

h2.serif {
	font-family: 'Georgia', serif;
	text-align: center;
	font-size: 5em;
}

h3.serif {
	font-family: 'Georgia', serif;
	text-align: center;
	font-size: 2em;
	text-align: center;
}

section {
	padding-top:8px;
}

section.header {
	margin-top: 8em;
}

section.body {

}

article.header {
	color:  #171717;
	text-align: center;
	line-height: 4em;
	padding-left: 10em;
	padding-right: 10em;
}

article.body {
	font-family: 'Georgia', serif;
	background-color:rgba(255,255,255,0.7);
	font-size: 1.2em;
	line-height: 1.5em;
	color: #474747;
	padding-top: 4em;
	padding-bottom: 3em;
	padding-left: 5em;
	padding-right: 5em;
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 3em;
}
